### for 'set trash' you need the trash folder patch:
### http://cedricduval.free.fr/mutt/patches/#trash

### gmail example
# set realname = 'Name Surname'
# set from = 'your_username@gmail.com'
#
# set imap_user = "$from"
# set smtp_url = "smtp://$from@smtp.gmail.com"
# set folder = 'imaps://imap.gmail.com/'
# set spoolfile = '+INBOX'
# set postponed = '+[Gmail]/Drafts'
# set record = '+[Gmail]/Sent Mail'
# set trash = '+[Gmail]/Trash'
# macro index,pager S "<save-message>+[Gmail]/Spam<enter><sync-mailbox>" "mark message as spam"
# macro index,pager H "<save-message>+INBOX<enter><sync-mailbox>" "mark message as ham (non-spam)"
# set move = no
###


# vim: filetype=muttrc
