color sidebar_new color161 color233
set sidebar_width = 20
set sidebar_visible = no
set sidebar_delim = '|'

# ctrl-n, ctrl-p to select next, prev folder
# ctrl-o to open selected folder
bind index \cp sidebar-prev
bind index \cn sidebar-next
bind index \co sidebar-open
bind pager \cp sidebar-prev
bind pager \cn sidebar-next
bind pager \co sidebar-open

# b toggles sidebar visibility
macro index b '<enter-command>toggle sidebar_visible<enter><refresh>'
macro pager b '<enter-command>toggle sidebar_visible<enter><redraw-screen>'

# Remap bounce-message function to "B"
bind index B bounce-message


# vim: filetype=muttrc
