# For more info: man 5 alacritty

[general]
import = ["behelit-theme.toml"]

[font]
normal = { family = "Hurmit Nerd Font", style = "Regular" }
offset = { x = 0, y = -4 }
{{- if eq .chezmoi.hostname "dystopia" }}
size = 12
{{- else }}
size = 11
{{- end }}

[env]
WINIT_X11_SCALE_FACTOR = "1.0"

# Send new line with Shift+Enter
[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001b\r"
