*~
*.elc
/.vifm/vifminfo
/.emacs.d/autosave
/.emacs.d/backup
/.emacs.d/sessions
/.emacs.d/server
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list
/.emacs.d/el-get
/.vim/.netrwhist
/.vim/autoload/plug.vim
/.vim/eclim/
/.vim/plugged/
/.vim/plugin/eclim.vim
/.vim/shada/
/.vim/opt/dl/
/.vim/opt/eclipse/
