[sendemail]
	#from = Fist-name Last-name <username@gmail.com>
	#smtpuser = username
	smtpserver = smtp.gmail.com
	smtpencryption = ssl
	smtpserverport = 465
[log]
	decorate = short
[push]
	default = simple
[alias]
	tree = log --graph --decorate
[merge]
	tool = meld
[color]
	ui = true
[color "diff"]
	old = red
	new = blue
	frag = magenta
	whitespace = black bold
	meta = magenta
	commit = magenta
[color "branch"]
	current = magenta
	local = blue
	remote = red
[color "decorate"]
	HEAD = green
	branch = blue
	remoteBranch = red
	tag = cyan
[color "grep"]
	filename = magenta
	separator = cyan
	linenumber = magenta bold
	match = red bold
[color "status"]
	untracked = red
	changed = red
	added = blue
	updated = blue
[color "interactive"]
	error = red
	header = red
	help = magenta
	prompt = blue bold
[remote-hg]
	track-branches = true
	hg-git-compat = true
