*~
*.elc
/.vifm/vifminfo
/.emacs.d/autosave
/.emacs.d/backup
/.emacs.d/sessions
/.emacs.d/server
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list
/.emacs.d/el-get
/.vim/.netrwhist
/.vim/autoload/plug.vim
/.vim/autoload/plug.vim.old
/.vim/plugged/
/.local/share/applications/mimeapps.list
