#!/bin/sh

[ -f ~/.zprofile ] && source ~/.zprofile

setxkbmap -layout us,el
setxkbmap -variant ,extended
setxkbmap -option
setxkbmap -option grp:rctrl_rshift_toggle

autorandr --change
picom -b
hsetroot -solid "#101010"
