Xcursor.theme:  Vanilla-DMZ-AA

Xft.antialias:  1
Xft.hinting:    1
Xft.autohint:   0
Xft.hintstyle:  hintmedium
Xft.lcdfilter:  lcddefault
Xft.dpi:        120
Xft.rgba:       rgb

! behelit color theme
URxvt.background:    #101010
URxvt.foreground:    #60ff60
URxvt.cursorColor:   #60ff60

! black
URxvt.color0:        #1c1c1c
URxvt.color8:        #4d4d4d

! red
URxvt.color1:        #d81860
URxvt.color9:        #f00060

! green
URxvt.color2:        #60ff60
URxvt.color10:       #70ff70

! yellow
URxvt.color3:        #f9fd75
URxvt.color11:       #f9fd80

! blue
URxvt.color4:        #5d97fa
URxvt.color12:       #679dfa

! magenta
URxvt.color5:        #a78edb
URxvt.color13:       #ad97db

! cyan
URxvt.color6:        #4695c8
URxvt.color14:       #5a9dc8

! white
URxvt.color7:        #f3ebe2
URxvt.color15:       #eeeeee

! urxvt
URxvt.termName:             rxvt-unicode-256color
URxvt.geometry:             90x25
URxvt.reverseVideo:         false
!!! these two go together !!!
!URxvt.font:                 xft:Source Code Pro:pixelsize=14
!URxvt.letterSpace:          -1
!!! these two go together !!!
URxvt.font:                 xft:Hermit:pixelsize=14
URxvt.scrollBar:            true
URxvt.scrollBar_floating:   true
URxvt.scrollBar_right:      false
URxvt.scrollColor:          #0c0c0c
URxvt.saveLines:            5500
URxvt.perl-ext-common:      default,matcher,-searchable-scrollback,clipboard,keyboard-select
URxvt.url-launcher:         firefox
URxvt.matcher.button:       1
URxvt.colorUL:              #5f87d7
URxvt.colorIT:              #d81860
URxvt.cursorBlink:          true
URxvt.keysym.Mod4-Meta-c:   perl:clipboard:copy
URxvt.keysym.Mod4-Meta-v:   perl:clipboard:paste
URxvt.keysym.Mod4-C-v:      perl:clipboard:paste_escaped
URxvt.copyCommand:          xclip -i -selection clipboard
URxvt.pasteCommand:         xclip -o -selection clipboard
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.urgentOnBell:         true

! emulate XTerm for proper recognition of key combinations in Vim
!URxvt.keysym.Up              : \033[A  !breaks arrow keys in Vim
!URxvt.keysym.Down            : \033[B  !breaks arrow keys in Vim
!URxvt.keysym.Right           : \033[C  !breaks arrow keys in Vim
!URxvt.keysym.Left            : \033[D  !breaks arrow keys in Vim
!URxvt.keysym.Page_Up         : \033[5~ !breaks scrolling in Rxvt
!URxvt.keysym.Page_Down       : \033[6~ !breaks scrolling in Rxvt
!URxvt.keysym.Home            : \033[H  !breaks navigation in Vim
!URxvt.keysym.End             : \033[F  !breaks navigation in Vim
URxvt.keysym.S-Up             : \033[1;2A
URxvt.keysym.S-Down           : \033[1;2B
URxvt.keysym.S-Right          : \033[1;2C
URxvt.keysym.S-Left           : \033[1;2D
!URxvt.keysym.S-Page_Up       : captured by terminal for scrolling
!URxvt.keysym.S-Page_Down     : captured by terminal for scrolling
URxvt.keysym.S-Home           : \033[1;2H
URxvt.keysym.S-End            : \033[1;2F
URxvt.keysym.M-Up             : \033[1;3A
URxvt.keysym.M-Down           : \033[1;3B
URxvt.keysym.M-Right          : \033[1;3C
URxvt.keysym.M-Left           : \033[1;3D
URxvt.keysym.M-Page_Up        : \033[5;3~
URxvt.keysym.M-Page_Down      : \033[6;3~
URxvt.keysym.M-Home           : \033[1;3H
URxvt.keysym.M-End            : \033[1;3F
URxvt.keysym.M-S-Up           : \033[1;4A
URxvt.keysym.M-S-Down         : \033[1;4B
URxvt.keysym.M-S-Right        : \033[1;4C
URxvt.keysym.M-S-Left         : \033[1;4D
!URxvt.keysym.M-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.M-S-Home         : \033[1;4H
URxvt.keysym.M-S-End          : \033[1;4F
URxvt.keysym.C-Up             : \033[1;5A
URxvt.keysym.C-Down           : \033[1;5B
URxvt.keysym.C-Right          : \033[1;5C
URxvt.keysym.C-Left           : \033[1;5D
URxvt.keysym.C-Page_Up        : \033[5;5~
URxvt.keysym.C-Page_Down      : \033[6;5~
URxvt.keysym.C-Home           : \033[1;5H
URxvt.keysym.C-End            : \033[1;5F
URxvt.keysym.C-S-Up           : \033[1;6A
URxvt.keysym.C-S-Down         : \033[1;6B
URxvt.keysym.C-S-Right        : \033[1;6C
URxvt.keysym.C-S-Left         : \033[1;6D
!URxvt.keysym.C-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.C-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.C-S-Home         : \033[1;6H
URxvt.keysym.C-S-End          : \033[1;6F
URxvt.keysym.M-C-Up           : \033[1;7A
URxvt.keysym.M-C-Down         : \033[1;7B
URxvt.keysym.M-C-Right        : \033[1;7C
URxvt.keysym.M-C-Left         : \033[1;7D
URxvt.keysym.M-C-Page_Up      : \033[5;7~
URxvt.keysym.M-C-Page_Down    : \033[6;7~
URxvt.keysym.M-C-Home         : \033[1;7H
URxvt.keysym.M-C-End          : \033[1;7F
URxvt.keysym.M-C-S-Up         : \033[1;8A
URxvt.keysym.M-C-S-Down       : \033[1;8B
URxvt.keysym.M-C-S-Right      : \033[1;8C
URxvt.keysym.M-C-S-Left       : \033[1;8D
!URxvt.keysym.M-C-S-Page_Up   : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-C-S-Page_Down : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.M-C-S-Home       : \033[1;8H
URxvt.keysym.M-C-S-End        : \033[1;8F

!! rofi
rofi.columns:                        2
rofi.bw:                             2
rofi.terminal:                       urxvt
rofi.font:                           hermit bold 7
rofi.color-enabled:                  true
!                                       bg      fg    bgalt    hlbg    hlbg
rofi.color-normal:                   #101010,#3a81fa,#131313,#d10047,#101010
rofi.color-urgent:                   #101010,#f00060,#131313,#d10047,#101010
rofi.color-active:                   #101010,#00ff77,#131313,#d10047,#101010
!                                       bg    border
rofi.color-window:                   #101010,#202020
