Xcursor.theme:  Vanilla-DMZ-AA

Xft.antialias:  1
Xft.hinting:    1
Xft.autohint:   0
Xft.hintstyle:  hintmedium
Xft.lcdfilter:  lcddefault
Xft.dpi:        120
Xft.rgba:       rgb

! color themes
#include ".xdefaults.d/behelit.theme"
!#include ".xdefaults.d/behelit_darker.theme"

! urxvt
URxvt.termName:             rxvt-unicode-256color
URxvt.geometry:             90x25
URxvt.reverseVideo:         false
!URxvt.font:                 xft:Terminus:size=10
!!! these two go together !!!
URxvt.font:                 xft:Inconsolata:size=10
URxvt.letterSpace:          -1
!!! these two go together !!!
URxvt.scrollBar:            true
URxvt.scrollBar_floating:   true
URxvt.scrollBar_right:      false
URxvt.scrollColor:          #0c0c0c
URxvt.saveLines:            5500
URxvt.perl-ext-common:      default,matcher,-searchable-scrollback,clipboard,keyboard-select
URxvt.url-launcher:         firefox
URxvt.matcher.button:       1
URxvt.colorUL:              #5f87d7
URxvt.colorIT:              #d81860
URxvt.cursorBlink:          true
URxvt.tabbed.tabbar-fg:     238
URxvt.tabbed.tabbar-bg:     233
URxvt.tabbed.tab-fg:        97
URxvt.tabbed.tab-bg:        233
URxvt.keysym.Mod4-Meta-c:   perl:clipboard:copy
URxvt.keysym.Mod4-Meta-v:   perl:clipboard:paste
URxvt.keysym.Mod4-C-v:      perl:clipboard:paste_escaped
URxvt.copyCommand:          xclip -i -selection clipboard
URxvt.pasteCommand:         xclip -o -selection clipboard
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.urgentOnBell:         true
!!! for transparent terminal uncomment the following
!!! also use feh to set your wallpaper
!URxvt.transparent:          true
!URxvt.shading:              15
!URxvt.inheritPixmap:        true
