@define-color red           #8f0d5d;
@define-color bright-red    #d81860;
@define-color purple        #4c1b9c;
@define-color gray          #505050;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
    opacity: 1;
}

window#waybar {
    background-color: #101010;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
   box-shadow: inset 0 -3px transparent;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    box-shadow: inset 0 -3px @gray;
}

#workspaces button.visible {
    box-shadow: inset 0 -3px @gray;
}

#workspaces button.active {
    box-shadow: inset 0 -3px @purple
}

#workspaces button.urgent {
    box-shadow: inset 0 -3px @red;
}

#mode, #submap {
    color: @red;
    font-weight: bold;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @bright-red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(100);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio:hover {
    box-shadow: inset 0 -3px @gray;
}

#pulseaudio.sound.muted {
    color: @red;
}

#pulseaudio.microphone.source-muted {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    box-shadow: inset 0 -3px @red;
}

#idle_inhibitor.activated {
    color: @red;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
