[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=vim
Comment=vim
Exec=alacritty -e vim %F
Terminal=true
Type=Application
Categories=TextEditor;Development;
