pkgbase = waybar
	pkgdesc = Highly customizable Wayland bar for Sway and Wlroots based compositors
	pkgver = 0.15.0
	pkgrel = 3
	url = https://github.com/Alexays/Waybar/
	arch = x86_64
	license = MIT
	makedepends = catch2
	makedepends = cmake
	makedepends = meson
	makedepends = glib2-devel
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = atkmm
	depends = cairomm
	depends = fmt
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = gpsd
	depends = gtk-layer-shell
	depends = gtk3
	depends = gtkmm3
	depends = jack
	depends = jsoncpp
	depends = libdbusmenu-gtk3
	depends = libevdev
	depends = libgcc
	depends = libinput
	depends = libmpdclient
	depends = libnl
	depends = libpipewire
	depends = libpulse
	depends = libsigc++
	depends = libstdc++
	depends = libwireplumber
	depends = libxkbcommon
	depends = playerctl
	depends = sndio
	depends = spdlog
	depends = systemd-libs
	depends = upower
	depends = wayland
	optdepends = otf-font-awesome: Icons in the default configuration
	backup = etc/xdg/waybar/config.jsonc
	backup = etc/xdg/waybar/style.css
	source = waybar-0.15.0.tar.gz::https://github.com/Alexays/Waybar/archive/0.15.0.tar.gz
	b2sums = 3f0eb6cbf4ba189ddd37e82678ef87f877f6f48cf0bb699624c5d697c7164b11c3e25bf8fe382564c1e5891a6070d7c7e6d3009f8461a7087294dffccb78de95

pkgname = waybar
	depends = atkmm
	depends = cairomm
	depends = fmt
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = gpsd
	depends = gtk-layer-shell
	depends = gtk3
	depends = gtkmm3
	depends = jack
	depends = jsoncpp
	depends = libdbusmenu-gtk3
	depends = libevdev
	depends = libgcc
	depends = libinput
	depends = libmpdclient
	depends = libnl
	depends = libpipewire
	depends = libpulse
	depends = libsigc++
	depends = libstdc++
	depends = libwireplumber
	depends = libxkbcommon
	depends = playerctl
	depends = sndio
	depends = spdlog
	depends = systemd-libs
	depends = upower
	depends = wayland
	depends = libatkmm-1.6.so
	depends = libcairomm-1.0.so
	depends = libgtk-3.so
	depends = libjack.so
	depends = libjsoncpp.so
	depends = libpipewire-0.3.so
	depends = libsndio.so
	depends = libspdlog.so
	depends = libudev.so
	depends = libupower-glib.so
